@font-face{
    font-family:"Trajan";
    src:url("fonts/b1ea5371-054f-484d-aa42-a79997cd4e21.eot?#iefix");
    src:url("fonts/b1ea5371-054f-484d-aa42-a79997cd4e21.eot?#iefix") format("eot"),url("fonts/2649890f-ced1-4b53-9a01-4ce5a76159a6.woff") format("woff"),url("fonts/b66b7a48-c18d-4214-8f34-27f14538f51f.ttf") format("truetype"),url("Fonts/083f0ff8-1ce1-4e64-bb92-478df522f370.svg#083f0ff8-1ce1-4e64-bb92-478df522f370") format("svg");
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family:"Trajan";
}